:root {
  --branding-color: #e988b5;
  --branding-font: "Great Vibes", cursive;
  --background-color: #fbeeff;
  --gradient: linear-gradient(
    179deg,
    rgba(243, 243, 243, 0) 24%,
    rgba(233, 136, 181, 0.43) 100%
  );
}
body {
  text-align: center;
  font-family: monospace;
  background: var(--gradient);
}
footer {
  height: max-content;
}
.footer-title a {
  color: var(--branding-color);
  text-decoration: none;
}
.footer-title a:hover {
  text-decoration: underline;
}
.footer-title {
  font-size: 30px;
  color: white;
  font-family: var(--branding-font);
  width: 100%;
}
.vivacity {
  color: var(--branding-color);
  font-family: var(--branding-font);
  font-weight: 100;
  text-shadow: 1px 1px 2px lightgray;
}
.img-fluid {
  max-width: 80%;
  max-height: 80%;
}
.hero {
  height: 100vh;
  text-align: center;
  background: white;
}
.large-margin {
  margin: 200px;
}
.large-margin-top {
  margin-top: 200px;
}
.smaller-heading {
  font-size: 17px;
  opacity: 0.7;
  padding: 0;
  font-weight: 100;
}
.main-title {
  font-size: 35px;
  opacity: 0.8;
  margin-top: 300px;
}
.pink-button {
  color: var(--branding-color);
  font-weight: 100;
  text-decoration: none;
  border: 1px solid var(--branding-color);
  border-radius: 50px;
  padding: 12px;
  margin: 20px;
  width: 50%;
}
.email-container {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pink-button:hover {
  color: white;
  background-color: var(--branding-color);
}
.card-title {
  text-align: center;
  font-size: 30px;
}
.navbar {
  background-color: #e988b5;
}
.social-icon {
  font-size: 20px;
  padding: 10px;
  margin: 10px 0;
  transition: background-color 0.3s, transform 0.3s;
}
.social-icon:hover {
  border-radius: 4px;
  background-color: #d6d5d5;
  transform: scale(1.05);
}
.email-link {
  text-decoration: none;
  color: var(--branding-color);
  line-height: 2;
  vertical-align: middle;
}
.email-link:hover {
  text-decoration: underline;
}
.video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 0;
  padding-bottom: 30%;
}
.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.spreading-text {
  letter-spacing: normal;
  animation: letterSpacingAnimation 2s forwards;
}
.pink-link {
  text-decoration: none;
  color: var(--branding-color);
}
.pink-link:hover {
  text-decoration: underline;
  font-weight: 600;
}
.pink {
  color: var(--branding-color);
  border-color: var(--branding-color);
}
.icons {
  font-size: 25px;
  margin: 15px;
}
.right-side {
  display: flex;
  align-items: start;
  margin-left: 30%;
}
#floating-title {
  margin: 300px 0 50px;
  opacity: 0;
  transform: translate(100%);
  transition: opacity 0.5s, transform 1s;
}
.project-description {
  display: flex;
  align-items: center;
  margin: 20px;
}
.row.m-5 {
  align-items: center;
}
.small-card {
  width: 70%;
}
.small-title {
  font-size: 27px;
}
@keyframes slowAndFadeOut {
  0% {
    animation-timing-function: linear;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes letterSpacingAnimation {
  0% {
    letter-spacing: normal;
  }
  50% {
    letter-spacing: 4px;
  }
  100% {
    letter-spacing: normal;
  }
}
@media (max-width: 900px) {
  .project-description {
    text-align: center;
  }
  .project-heading {
    font-size: 30px;
    text-decoration: underline;
  }
  .pink-button {
    font-size: smaller;
  }
  .footer-title {
    font-size: 25px;
  }
  .small-text {
    font-size: 12px;
  }
  .container-fluid {
    width: 100%;
  }
  .small-title {
    font: 10%;
    text-align: left;
  }
}
@media (max-width: 576px) {
  .row.justify-content-center > .col.d-none.d-sm-block {
    display: none;
  }
  .main-title {
    margin-top: 300px;
  }
  .small-title {
    font-size: 19px;
    font-family: monospace;
    text-align: center;
  }
  .title-box {
    width: 100%;
    margin: 200px 5px;
  }
}
